.body_1{
    background-color:#111;;
}
.body_a{
display: flex;
justify-content: center;
}
.body_b{
color: #FFFFFF;
width: 35%;
margin-top: 160px;
margin-left: 300px;
margin-bottom: 30px
}
.b_img{
margin-top: 80px;
}
.body_b h4{
    font-size: 24px;
    font-style: normal;
    font-weight: 300px;
}
.body_b h2{
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800px;
}
.body_b h3{
    font-size: 24px;
    font-weight: 600px;
text-transform: lowercase;
}